

Here is the current weather for Malaga:
<b> {{city_temperature}}°C, 
 {{city_weather}} 
</b>
 <img height="50" width="50" src={{weather_icon_src}}></img>

<br/>
<small><i>Last updated: {{date}} </i></small>
<br/>

Today, the sun rises at
 <b>{{sun_rise}}</b> 
and sets at <b>{{sun_set}}</b>
<br/>




<div align="center">
  <table border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>
          <strong><a href="https://reactjs.how">ReactJS.how</a></strong>
        </th>
        <th>
          <strong><a href="https://tufotoboda.com">tufotoBoda.com</a></strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="https://reactjs.how">
            <img
              alt="React JS, Next JS"
              src="https://kentcdodds.com/images/epicreact-promo/er-1.gif"
            />
          </a>
        </td>
        <td>
          <a href="https://tufotoboda.com">
            <img
              alt="Wedding photographers in Spain"
              src="https://tufotoboda.com/imagenes/site/OGindex.jpg"
            />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>