<h3 align="center">👋 Hello, I'm Olga. Welcome to my GitHub profile! </h3>
<p align="center">
  <strong><a href="https://twitter.com/olgafandreiko">Twitter</a></strong> |
  <strong><a href="https://www.linkedin.com/in/olga-f/">LinkedIn</a></strong>
</p>

---

I am a Software Engineer, born and raised in Ukraine <img src="https://image.flaticon.com/icons/svg/555/555614.svg" width="20"/> , currently living in Málaga, Spain <img src="https://image.flaticon.com/icons/svg/206/206724.svg" width="20"/>.


Here is the current weather for Málaga:
<b> {{city_temperature}}°C, 
 {{city_weather}}.
</b> <img width="50" src={{weather_icon_src}}></img> Today the sun rises at
 <b>{{sun_rise}}</b> 
and sets at <b>{{sun_set}}</b>
<small><i><br/>Last updated: {{date}} </i></small>
<br/>

---

<p> My passion lies in bringing <strong>ideas</strong> to life with <strong>code</strong>. </p>
<br/>

<div align="center">
      <table border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>
          <strong align="center"><a target=“_blank” href="https://tufotoboda.com">tufotoBoda.com</a></strong>
        </th>
        <th>
          <strong align="center"><a target=“_blank” href="https://marketplace.visualstudio.com/items?itemName=olga-f.light-color-theme">Light Color Theme - VS Code Extension</a></strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
           <a href="https://tufotoboda.com">
            <img
              alt="Wedding photographers in Spain"
              src="https://tufotoboda.com/imagenes/site/OGindex.jpg"
            />
          </a>
        </td>
        <td>
          <a href="https://marketplace.visualstudio.com/items?itemName=olga-f.light-color-theme">
            <img
              alt="Light Color Theme - Visual Studio Code Extension"
              src="https://raw.github.com/olga-f/olga-f/master/img/vscode.png"
            />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
<div>

---
<p align="center">
 <img src ="https://github-readme-stats.vercel.app/api/top-langs/?username=olga-f&layout=compact&hide=css,html">
</p>

